artifacts
obj
releases
bower_components
node_modules
.vs
.nyc_output

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
python/examples/*.svg
python/examples/*.png
python/examples/batch_avatars/
python/examples/size_variants/
python/examples/metadata_avatars/
